version: '3.8'

services:
  pytorch-gpu:
    image: pytorch/pytorch:latest
    container_name: pytorch-container
    runtime: nvidia
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              count: all
              capabilities: [gpu]
    volumes:
      - .:/workspace
    working_dir: /workspace
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=compute,utility
    shm_size: '20gb'  
    user: root
    stdin_open: true
    tty: true
